th {
  width: 150px;
}
body {
  font: arial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#top {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

#grafika {
  font-size: 2.5rem;
  font-weight: bold;
  /* color: #3e8e41; */
  color: #c9b826;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #c9b826;
  /* background-color: #8e863e; */
  color: white;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #e8eee9;
}

img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
}
